h3 {
  margin-bottom: 20px;
}
body {
  background-color: #dbe3e5;
  color: darkslategray;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
#filter {
  width: 30%;
}
#fTitle {
  text-align: end;
}
#head {
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 60px;
  text-align: left;
  padding-left: 30px;
  background-color: #9ea9a9;
  color: #dbe3e5;
}
#detail {
  text-align: left;
  padding-left: 90px;
}
.item {
  display: flex;
  justify-content: start;
  padding-left: 50px;
}
.input {
  margin-bottom: 50px;
  justify-content: center;
  align-items: center;
}
.pri {
  margin-left: 20px;
}
.stats {
  text-align: left;
}
.taskDisplay {
  text-align: left;
  padding-left: 50px;
}
#priority {
  width: 20%;
  margin-left: auto;
}
#title {
  margin-right: 10px;
  margin-left: 10px;
}
#butt {
  margin-right: 10px;
  margin-left: 10px;
}
.react-responsive-modal-overlay {
  background: RGB(0 0 0 / 70%)!important
}
div {
  &.parent {
    display: table;
    padding: 5px;
    width: 100%;
    margin: 5px 0;
    .img {
      vertical-align: middle;
      display: table-cell;
      padding-right: 5px;
      width: 100px;
    }
  }
  &.text {
    vertical-align: middle;
    display: table-cell;
    text-align: justify;
  }
  &.img {
    img {
      width: 100%;
      vertical-align: middle;
    }
  }
}
